/* Common Variables: */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* 9100 Settings: */
/* -------------------------- */
/* MLobby Settings: */
/* -------------------------- */
/* 7000 / 3100 Settings: */
/* -------------------------- */
.hw-9100 .item.image {
  transform: translate(860px, 540px) scale(0, 0); }

.hw-7000 .item.image, .hw-3100 .item.image {
  transform: translate(512px, 300px) scale(0, 0); }

.hw-MLobby .item.image {
  transform: translate(480px, 695px) scale(0); }

.item.image {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  z-index: 1;
  width: 145px;
  opacity: 0;
  visibility: visible; }
  .item.image.animate {
    animation: pop-select .35s ease-out forwards;
    animation-delay: 0s !important; }
  .item.image > img {
    z-index: 1;
    position: relative;
    min-width: 100%; }
  .item.image .translation {
    word-spacing: 3600px; }
  .item.image.unavailable .label_unavailable {
    display: none; }
  .item.image.unavailable.active .label_unavailable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; }
  .item.image.unavailable:after {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    border-radius: 100%;
    display: block; }
  .item.image .wavebox-container {
    z-index: 2;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  .item.image .wavebox {
    position: absolute;
    bottom: 0;
    width: 600px; }
    .hw-9100 .item.image .wavebox,
    .hw-MLobby .item.image .wavebox,
    .hw-7000 .item.image .wavebox,
    .hw-3100 .item.image .wavebox {
      animation: waveboxMovement 5s infinite linear; }
    .item.image .wavebox svg {
      width: 300px;
      float: left; }
    .hw-7000 .item.image .wavebox, .hw-3100 .item.image .wavebox {
      bottom: -30px; }
  .item.image .label {
    position: absolute;
    top: 85%;
    display: block;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    text-transform: lowercase;
    text-align: center;
    padding: 0 10%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 3; }
    .hw-7000 .item.image .label, .hw-3100 .item.image .label {
      font-size: .8em; }
  .item.image .pulse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%; }
    .non-ada .item.image .pulse {
      animation: pulse both 2s infinite; }
    .ada .item.image .pulse {
      background-color: transparent !important;
      top: -11px;
      left: -11px;
      right: -11px;
      bottom: -11px; }

@keyframes flow {
  0% {
    -webkit-mask-position-x: 0%; }
  100% {
    -webkit-mask-position-x: 100%; } }

@keyframes waveboxMovement {
  from {
    transform: translate(0px, 0); }
  to {
    transform: translate(-300px, 0); } }

@keyframes logo-pulse {
  0% {
    transform: scale(0);
    border-width: 10px;
    opacity: 0; }
  20% {
    transform: scale(1.1);
    border-width: 15px;
    opacity: .85; }
  40% {
    transform: scale(1.3);
    border-width: 7px;
    opacity: .5; }
  100% {
    transform: scale(1.3);
    border-width: 1px;
    opacity: 0; } }
