
/* Common Variables: */
/* -------------------------- */
$gutter: 								35px;
$logo_base_multiplyer: 	230px;

// Colors:
/* -------------------------- */
$white: #fff;
$red: 	#d4222f;
$adaBg: #2a2a2a;

// Glass Videos:
/* -------------------------- */
$glass_video_w:				847px;
$glass_video_h:				879px;

$glass_video_full_w:	428px;
$glass_video_full_h:	880px;


/* 9100 Settings: */
/* -------------------------- */
$height_9100: 							1080px;
$width_9100:  							1920px;

$ada_logo_size:      				145px;
$beverage_logo_size: 				145px;

$level3_9100: 							230px;
$level2_9100: 							185px;
$level1_9100: 							145px;

$ada_family_logo_size_9100: 100px;
$family_logo_size_9100: 		83px;


/* MLobby Settings: */
/* -------------------------- */
$height_MLobby: 							1920px;
$width_MLobby: 								1080px;

$MLobby_bottom: 							1080px;
$MLobby_top:									$height_MLobby - $MLobby_bottom;

$level3_MLobby: 							210px;
$level2_MLobby: 							180px;
$level1_MLobby: 							130px;

$ada_family_logo_size_MLobby: 100px;
$family_logo_size_MLobby: 		83px;

$MLobby_utils_placement: 			57%;


/* 7000 / 3100 Settings: */
/* -------------------------- */
$height_7000: 						600px;
$width_7000: 							1024px;

$family_logo_size_7000: 	73px;
$promo_logo_size_7000: 		140px;

$level1_7000: 						120px;
$level2_7000: 						105px;
$level2a_7000: 						144px;
